<%= form_with(model: coaster) do |form| %>
  <% if coaster.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(coaster.errors.count, "error") %> prohibited this coaster from being saved:</h2>

      <ul>
        <% coaster.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :quanity %>
    <%= form.number_field :quanity %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :latitude %>
    <%= form.text_field :latitude %>
  </div>

  <div class="field">
    <%= form.label :longitude %>
    <%= form.text_field :longitude %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
