<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @application.type %>
</p>

<p>
  <strong>Email:</strong>
  <%= @application.email %>
</p>

<p>
  <strong>Organisation:</strong>
  <%= @application.organisation %>
</p>

<p>
  <strong>Text:</strong>
  <%= @application.text %>
</p>

<p>
  <strong>Date:</strong>
  <%= @application.date %>
</p>

<%= link_to 'Edit', edit_application_path(@application) %> |
<%= link_to 'Back', applications_path %>
