<h1>Cameron Grant Memorial Trust</h1>
<h2>Supporting Mental Health in Young People</h2>

<p>find me at pages/home</p>

<ul>
  <li><%= link_to "events", events_path %></li>
  <li><%= link_to "about", about_path %></li>
  <li><%= link_to "admin", admin_path %></li>
  <li><%= link_to "donate", donate_path %></li>
  <li><%= link_to "coasters", coasters_path %></li>
  <li><%= link_to "innovation", innovation_path %></li>
  <li><%= link_to "innovation_application", innovation_application_path %></li>
  <li><%= link_to "innovation_details", innovation_details_path %></li>
  <li><%= link_to "make_event", make_event_path %></li>
  <li><%= link_to "news", news_path %></li>
  <li><%= link_to "products", products_path %></li>
  <li><%= link_to "volunteer", volunteer_path %></li>
  <li><%= link_to "gallery", gallery_path %></li>
</ul>
