<div class="header">
  <div class="shown-head">
    <div class="logo-head">
      <%= image_tag "logo.png", alt: "…", width: "450", height: "102"%>
    </div>
    <div>
      <i class="fa-solid fa-bars dropbtn" onclick= "myFunction()"></i>
    </div>
  </div>
  <div id="myDropdown" class="dropdown-content">
    <ul class="level-1">
      <li><%= link_to "events", events_path %></li>
      <li><%= link_to "about", about_path %></li>
      <li><%= link_to "make_event", make_event_path %></li>
      <li><%= link_to "news_pieces", news_pieces_path %></li>
      <li>
        <div class="dropbtn-level2a">
          <p>Our Products</p>
          <i class="fa-solid fa-chevron-down"></i>
        </div>
        <ul id="productList" class="level-2a">
          <li><%= link_to "coasters", coasters_path %></li>
        </ul>
      </li>
      <li><%= link_to "volunteer", volunteer_path %></li>
      <li><%= link_to "gallery", gallery_path %></li>
      <li>
        <div class="dropbtn-level2b" >
          <p>Innovation</p>
          <i class="fa-solid fa-chevron-down"></i>
        </div>
        <ul id="innovationList" class="level-2b">
          <li><%= link_to "innovation_application", innovation_application_path %></li>
          <li><%= link_to "innovation_details", innovation_details_path %></li>
        </ul>
      </li>
      <li><%= link_to "donate", donate_path %></li>
    </ul>
  </div>
</div>

<script>
  /* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown menu if the user clicks outside of it
window.onclick = function (event) {
  if (!event.target.matches('.dropbtn') || !event.target.matches('.dropbtn-level2a') || !event.target.matches('.dropbtn-level2a')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}



// Close the dropdown menu if the user clicks outside of it
// window.onclick = function (event) {
//   if (!event.target.matches('.dropbtn')) {
//     var dropdowns = document.getElementsByClassName("dropdown-content");
//     var i;
//     for (i = 0; i < dropdowns.length; i++) {
//       var openDropdown = dropdowns[i];
//       if (openDropdown.classList.contains('show')) {
//         openDropdown.classList.remove('show');
//       }
//     }
//   }
// }

</script>


<%# .submenu {
    display: none;
    position: absolute;
    z-index: 10;
    list-style: none;
    left: 0;
    margin: 0;
    padding: 0;
    min-width: calc(3.5 * var(--menu-item-size) - 5%);
    box-shadow: 5px 5px 5px #CCC;
}

.with-submenu {
    position: relative;
    display: inline-block;
    clip-path: polygon(10% 0%, 0% 100%, 0% 500%, 95% 500%, 95% 100%, 100% 50%, 95% 0%);
    shape-outside: polygon(10% 0%, 0% 100%, 95% 100%, 100% 50%, 95% 0%);
}

.with-submenu:hover .submenu {
    display: block;
}

.submenu > li {
    background: #dedede;
    border-bottom: 1px solid var(--gray-color);
    color: #777;
    padding: 1.2em 1em;
    transition: 0.3s all linear;
    display: block;
    line-height: 0%;
}

.submenu > li:hover {
    background: var(--gray-color)
}

.submenu > li:active {
    background: var(--white-color);
} %>
