<div class="header">
  <div class="logo-head">
    <%= image_tag "logo.png", alt: "…", width: "450", height: "102"%>
  </div>
  <button onclick="myFunction()" class="dropbtn">Dropdown</button>
  <div id="myDropdown" class="dropdown-content">
    <ul>
      <li><%= link_to "events", events_path %></li>
      <li><%= link_to "about", about_path %></li>
      <li><%= link_to "make_event", make_event_path %></li>
      <li><%= link_to "news_pieces", news_pieces_path %></li>
      <li><%= link_to "products", products_path %><ul>
    <li><%= link_to "coasters", coasters_path %></li>
    </ul></li>
      <li><%= link_to "volunteer", volunteer_path %></li>
      <li><%= link_to "gallery", gallery_path %></li>
      <li><%= link_to "innovation", innovation_path %><ul>
    <li><%= link_to "innovation_application", innovation_application_path %></li>
    <li><%= link_to "innovation_details", innovation_details_path %></li>
    </ul></li>
    <li><%= link_to "donate", donate_path %></li>
    </ul>
  </div>
</div>
