<div class="header">
  <div class="shown-head">
    <div class="logo-head">
      <%= image_tag "logo.png", alt: "…", width: "450", height: "102"%>
    </div>
    <button type="button" class="dropbtn">
      <i class="fa-solid fa-bars" ></i>
    </button>
  </div>
  <div id="myDropdown" class="dropdown-content">
    <ul class="level-1">
      <li class="nav-item"><%= link_to "events", events_path %></li>
      <li class="nav-item"><%= link_to "about", about_path %></li>
      <li class="nav-item"><%= link_to "make_event", make_event_path %></li>
      <li class="nav-item"><%= link_to "news_pieces", news_pieces_path %></li>
      <li class="with-submenu">
        <div class="dropbtn-level2a">
          <p>Our Products</p>
          <i class="fa-solid fa-chevron-down"></i>
        </div>
        <div class="level-2a-box">
          <ul id="productList" class="level-2a">
            <li><%= link_to "coasters", coasters_path %></li>
          </ul>
        </div>
      </li>
      <li class="nav-item"><%= link_to "volunteer", volunteer_path %></li>
      <li class="nav-item"><%= link_to "gallery", gallery_path %></li>
      <li class="with-submenu">
        <div class="dropbtn-level2b" >
          <p>Innovation</p>
          <i class="fa-solid fa-chevron-down"></i>
        </div>
        <div class="level-2b-box">
          <ul id="innovationList" class="level-2b">
            <li><%= link_to "innovation_application", innovation_application_path %></li>
            <li><%= link_to "innovation_details", innovation_details_path %></li>
          </ul>
        <div>
      </li>
      <li><%= link_to "donate", donate_path %></li>
    </ul>
  </div>
</div>

<script>


$(".dropbtn").on("click", function () {
  $(".dropdown-content").toggleClass("show");
});

$(".dropbtn-level2a").on("click", function () {
  $(".level-2a").toggleClass("show");
});

$(".dropbtn-level2b").on("click", function () {
  $(".level-2b").toggleClass("show2");
});

</script>
