<div class="header">
  <div class="shown-head">
    <div class="logo-head">
      <%= image_tag "logo.png", alt: "…", width: "450", height: "102"%>
    </div>
    <div>
      <i class="fa-solid fa-bars dropbtn" onclick= "myFunction()"></i>
    </div>
  </div>
  <div id="myDropdown" class="dropdown-content">
    <ul class="level-1">
      <li><%= link_to "events", events_path %></li>
      <li><%= link_to "about", about_path %></li>
      <li><%= link_to "make_event", make_event_path %></li>
      <li><%= link_to "news_pieces", news_pieces_path %></li>
      <li><%= link_to "products", products_path %>
        <ul id="productList" class="level-2a">
          <li><%= link_to "coasters", coasters_path %></li>
        </ul>
      </li>
      <li><%= link_to "volunteer", volunteer_path %></li>
      <li><%= link_to "gallery", gallery_path %></li>
      <li><%= link_to "innovation", innovation_path %>
        <ul id="productList" class="level-2b">
          <li><%= link_to "innovation_application", innovation_application_path %></li>
          <li><%= link_to "innovation_details", innovation_details_path %></li>
        </ul>
      </li>
      <li><%= link_to "donate", donate_path %></li>
    </ul>
  </div>
</div>

<script>
  /* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown menu if the user clicks outside of it
window.onclick = function (event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>
